    <!-- index.html -->
    {% extends 'layouts/base.html' %}
    {% load static %}

    {% block content %}
    
    <div class="container-fluid py-4">
      <div class="row" style="margin-bottom: 40px;">
        <div class="card z-index-2">
          <div class="card-body p-3">
            <div class="bg-gradient-dark border-radius-lg py-3 pe-1 mb-3">
              <div class="chart">
                <canvas id="my-Chart" style="width:100%;max-width:700px"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      

      <div class="row" style="margin-bottom: 40px;">
          <div class="card">
            <div class="card-body bg-gradient-dark border-radius-lg">
              <div class="bg-gradient-dark border-radius-lg py-3 pe-1 mb-3">
                <div class="chart">
                  <div  id="idcvphcContainer"></canvas>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="row" style="margin-bottom: 40px;">
        <div class="card">
          <div class="card-body p-3">
            <div id="idcvphrsContainer"></div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-bottom: 40px;">
        <div class="card">
          <div class="card-body p-3">
            <div id="idcdomhcContainer"></div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-bottom: 40px;">
        <div class="card">
          <div class="card-body p-3">
            <div id="idcdomhrsContainer"></div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-bottom: 40px;">
        <div class="card">
          <div class="card-body p-3"> 
            <div class="row">
              <select class="dropdownvenempvp" id="dd" placeholder="Month">
                <option value=""style="display:none;" selected="selected">Month</option>
                <option value="january">January</option>
                <option value="february">February</option>
                <option value="march">March</option>
                <option value="april">April</option>
                <option value="may">May</option>
                <option value="june">June</option>
                <option value="july">July</option>
                <option value="august">August</option>
                <option value="september">September</option>
                <option value="october">October</option>
                <option value="november">November</option>
                <option value="december">December</option>
              </select>
            </div>
            <div class="row">
              <div id="atsvenconvphcContainer"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-bottom: 40px;">
        <div class="card">
          <div class="card-body p-3">
            <div class="row">
              <select class="dropdownvenempdom" id="dc" placeholder="Month">
                <option value=""style="display:none;" selected="selected">Month</option>
                <option value="january">January</option>
                <option value="february">February</option>
                <option value="march">March</option>
                <option value="april">April</option>
                <option value="may">May</option>
                <option value="june">June</option>
                <option value="july">July</option>
                <option value="august">August</option>
                <option value="september">September</option>
                <option value="october">October</option>
                <option value="november">November</option>
                <option value="december">December</option>
              </select>
            </div>
            <div class="row">
              <div id="atsvencondomhcContainer"></div>
            </div>
          </div>
        </div>
      </div>  
      
      <div class = "container">
        <table id="example" class="table" cellspacing="0" width="100%">
              <thead> 
                    <tr>
                      <th>ATTUID</th>
                      <th>PMT</th>
                      <th>workname</th>
                      <th>emptype</th>
                      <th>schedulestart</th>
                      <th>schedulefinish</th>
                      <th>pvdate</th>
                    </tr>   
                      
                                        
              </thead>
              <tbody>
                   
              </tbody>
          </table>
       </div> 
       

       {% include "includes/footer.html" %}
    {% endblock content %}
     
    <!-- Specific JS goes HERE --> 
    {% block scripts %}  
      <!-- <script src="{% static 'canvasjs.min.js' %}"></script> -->
       <!-- Step 1 - Include the fusioncharts core library -->
       <!-- <script type="text/javascript" src="/Scripts/fusioncharts/fusioncharts.js"></script> -->
       <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
       <!-- Step 2 - Include the fusion theme -->
       <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
      <!-- <script src="https://cdn.canvasjs.com/ga/canvasjs.min.js"></script>
      <script src="https://cdn.canvasjs.com/ga/canvasjs.stock.min.js"></script> -->
      <!-- <script src="https://code.highcharts.com/highcharts.js"></script> -->
      <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script> -->
      <script type="text/javascript" src="{% static 'jquery.js' %}"></script> 
      <!-- 	Bootstrap v2.3.2 -->
    

      <!--  jQuery v3.0.0-beta1 -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>

      <!-- JS Pluging -->
      <script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.dynatable.js'></script>

      
<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>


      <script>

          var idcvphc_dataPoints = {{ idcvphc_datapoints | safe}}
          august_data = []
          september_data = []
          categories_data = []
          for(var i=0; i< idcvphc_dataPoints.length;i++){
            categories_data.push(idcvphc_dataPoints[i]["vicepresident"])
            august_data.push(idcvphc_dataPoints[i]["augheadcount"] )
            september_data.push(idcvphc_dataPoints[i]["sepheadcount"])
          }
        var ctx = document.getElementById("my-Chart").getContext("2d");
        
new Chart(ctx, {
  type: "bar",
  data: {
    labels: categories_data ,
    datasets: [
    {
      label: 'August',
      data: august_data,
      borderColor: "#3b993e",
      backgroundColor: "#3e95cd"
      
    },
    {
      label: 'September',
      data:  september_data,
      borderColor: "blue",
      backgroundColor: "#8e5ea2"
      
    }
  ],
  },
  options: {
    responsive: false,
    maintainAspectRatio: false,
   
    plugins: {
      legend: {
        display: true,
        labels: {
                    color: 'rgb(255, 99, 132)'
                }
      }
    },
    scales: {
      x: {
        stacked: true,
      },
      y: {
        stacked: true
      }
    }
    
  },
});
      </script>

      <script>
        window.onload = function () { 

           
          var idcvphc_dataPoints = {{ idcvphc_datapoints | safe}}
          august_data = []
          september_data = []
          categories_data = []
          for(var i=0; i< idcvphc_dataPoints.length;i++){
            categories_data.push({label: idcvphc_dataPoints[i]["vicepresident"]})
            august_data.push({ value: idcvphc_dataPoints[i]["augheadcount"] })
            september_data.push({ value: idcvphc_dataPoints[i]["sepheadcount"] })
          }
         
          const idcvphcdataSource = {
          chart: {
            caption: "IDC VP Headcount",
            subcaption: "",
            xAxisName: "VP",
            yAxisName: "Count",
            plottooltext: "$label <b>$dataValue</b>  $seriesName",
            theme: "fusion"
          },
          categories: [
            {
              category: categories_data
            }
          ],
          dataset: [
            {
              seriesname: "August",
              data: august_data
            },
            {
              seriesname: "September",
              data: september_data
            }
          ]
        };
        
       // var ctx = document.getElementById("idcvphcContainer").getContext("2d");
        FusionCharts.ready(function() {
          var myChart = new FusionCharts({
            type: "msbar3d",
            renderAt: "idcvphcContainer",
            dataFormat: "json",
            width: "100%",
            height: "100%",
            dataSource : idcvphcdataSource
          }).render();
        });
  
  
        var idcvphrs_dataPoints = {{ idcvphrs_datapoints | safe}}
          august_data = []
          september_data = []
          categories_data = []
          for(var i=0; i< idcvphrs_dataPoints.length;i++){
            categories_data.push({label: idcvphrs_dataPoints[i]["vicepresident"]})
            august_data.push({ value: idcvphrs_dataPoints[i]["aug"] })
            september_data.push({ value: idcvphrs_dataPoints[i]["sep"] })
          }
          const idcvphrsdataSource = {
          chart: {
            caption: "IDC VP Utilization",
            subcaption: "",
            xAxisName: "VP",
            yAxisName: "Hours",
            plottooltext: "$label <b>$dataValue</b>  $seriesName",
            theme: "fusion"
          },
          categories: [
            {
              category: categories_data
            }
          ],
          dataset: [
            {
              seriesname: "August",
              data: august_data
            },
            {
              seriesname: "September",
              data: september_data
            }
          ]
        };
  
        FusionCharts.ready(function() {
          var myChart = new FusionCharts({
            type: "msbar3d",
            renderAt: "idcvphrsContainer",
            width: "900",
            height: "500",
            dataFormat: "json",
            dataSource : idcvphrsdataSource
          }).render();
        });
  
  
  
        var idcdomhc_dataPoints = {{ idcdomhc_datapoints | safe}}
          august_data = []
          september_data = []
          categories_data = []
          for(var i=0; i< idcdomhc_dataPoints.length;i++){
            categories_data.push({label: idcdomhc_dataPoints[i]["domain"]})
            august_data.push({ value: idcdomhc_dataPoints[i]["augheadcount"] })
            september_data.push({ value: idcdomhc_dataPoints[i]["sepheadcount"] })
          }
         
          const idcdomhcdataSource = {
          chart: {
            caption: "IDC Domain Head Count",
            subcaption: "",
            xAxisName: "Domain",
            yAxisName: "Count",
            plottooltext: "$label <b>$dataValue</b>  $seriesName",
            theme: "fusion"
          },
          categories: [
            {
              category: categories_data
            }
          ],
          dataset: [
            {
              seriesname: "August",
              data: august_data
            },
            {
              seriesname: "September",
              data: september_data
            }
          ]
        };
  
        FusionCharts.ready(function() {
          var myChart = new FusionCharts({
            type: "msbar3d",
            renderAt: "idcdomhcContainer",
            width: "900",
            height: "500",
            dataFormat: "json",
            dataSource : idcdomhcdataSource
          }).render();
        });
  
  
        var idcdomhrs_dataPoints = {{ idcdomhrs_datapoints | safe}}
          august_data = []
          september_data = []
          categories_data = []
          for(var i=0; i< idcdomhrs_dataPoints.length;i++){
            categories_data.push({label: idcdomhrs_dataPoints[i]["domain"]})
            august_data.push({ value: idcdomhrs_dataPoints[i]["aughrs"] })
            september_data.push({ value: idcdomhrs_dataPoints[i]["sephrs"] })
          }
          
          const idcdomhrsdataSource = {
          chart: {
            caption: "IDC Domain Utilization",
            subcaption: "",
            xAxisName: "Domain",
            yAxisName: "Hours",
            plottooltext: "$label <b>$dataValue</b>  $seriesName",
            theme: "fusion"
          },
          categories: [
            {
              category: categories_data
            }
          ],
          dataset: [
            {
              seriesname: "August",
              data: august_data
            },
            {
              seriesname: "September",
              data: september_data
            }
          ]
        };
  
        FusionCharts.ready(function() {
          var myChart = new FusionCharts({
            type: "msbar3d",
            renderAt: "idcdomhrsContainer",
            width: "900",
            height: "500",
            dataFormat: "json",
            dataSource : idcdomhrsdataSource
          }).render();
        });
  
  
        var months = {"january":"1/2023","february":"2/2023","march":"3/2023","april":"4/2023","may":"5/2023","june":"6/2023","july":"7/2023","august":"8/2023","september":"9/2023","october":"10/2023","november":"11/2023","december":"12/2023"}
        var atsvenempvphc_dataPoints = {{ atsvenempvphc_datapoints | safe}}
        data = atsvenempvphc_dataPoints.filter(x => x.monthyy == months["january"])
        // console.log("ats",atsvenempvphc_dataPoints)
          employee_data = []
          contractor_data = []
          categories_data = []
          for(var i=0; i< data.length;i++){
            categories_data.push({label: data[i]["vicepresident"]})
            employee_data.push({ value: data[i]["employee"] })
            contractor_data.push({ value: data[i]["contractor"] })
          }
  
  
        var atsvenempvphcdataSource = {
          chart: {
            caption: "VP wise Employee / Contractor",
            subcaption: "",
            numvisibleplot: "6",
            showvalues: "1",
            decimals: "1",
            xAxisName: "VP",
            yAxisName: "Percentage",
            stack100percent: "1",
            valuefontcolor: "#FFFFFF",
            plottooltext:
              "$label  $dataValue (<b>$percentValue</b>) $seriesName ",
            theme: "fusion"
          },
          categories: [
            {
              category: categories_data
            }
          ],
          dataset: [
            {
              seriesname: "Employee",
              data: employee_data
            },
            {
              seriesname: "Contractor",
              data: contractor_data
            }
          ]
        };
  
        FusionCharts.ready(function() {
          var atsvenempvphcchart = new FusionCharts({
            type: "scrollstackedcolumn2d",
            renderAt: "atsvenconvphcContainer",
            width: "900",
            height: "500",
            dataFormat: "json",
            dataSource: atsvenempvphcdataSource
          }).render();
        });
  
  
        $( ".dropdownvenempvp" ).change(function() {
        
          var e = document.getElementById("dd");
          var selected = e.options[e.selectedIndex].value;
          data = atsvenempvphc_dataPoints.filter(x => x.monthyy == months[selected])
          employee_data = []
          contractor_data = []
          categories_data = []
          for(var i=0; i< data.length;i++){
            categories_data.push({label: data[i]["vicepresident"]})
            employee_data.push({ value: data[i]["employee"] })
            contractor_data.push({ value: data[i]["contractor"] })
          }
           
            
          
          atsvenempvphcdataSource = {
          chart: {
            caption: "VP wise Employee / Contractor",
            subcaption: "",
            numvisibleplot: "6",
            showvalues: "1",
            decimals: "1",
            xAxisName: "VP",
            yAxisName: "Percentage",
            stack100percent: "1",
            valuefontcolor: "#FFFFFF",
            plottooltext:
              "$label  $dataValue (<b>$percentValue</b>) $seriesName ",
            theme: "fusion"
          },
          categories: [
            {
              category: categories_data
            }
          ],
          dataset: [
            {
              seriesname: "Employee",
              data: employee_data
            },
            {
              seriesname: "Contractor",
              data: contractor_data
            }
          ]
        };
          var atsvenempvphcchart = new FusionCharts({
            type: "scrollstackedcolumn2d",
            renderAt: "atsvenconvphcContainer",
            width: "900",
            height: "500",
            dataFormat: "json",
            dataSource: atsvenempvphcdataSource
          }).render();
         
        });
  
  
        var atsvencondomhc_dataPoints = {{ atsvencondomhc_datapoints | safe}}
        data = atsvencondomhc_dataPoints.filter(x => x.monthyy == months["january"])
        console.log("atsvencon",atsvencondomhc_dataPoints)
          employee_data = []
          contractor_data = []
          categories_data = []
          for(var i=0; i< data.length;i++){
            categories_data.push({label: data[i]["department"]})
            employee_data.push({ value: data[i]["employee"] })
            contractor_data.push({ value: data[i]["contractor"] })
          }
  
  
        const atsvencondomhcdataSource = {
          chart: {
            caption: "Domain wise Employee / Contractor",
            subcaption: "",
            numvisibleplot: "6",
            showvalues: "1",
            decimals: "1",
            xAxisName: "Domain",
            yAxisName: "Percentage",
            stack100percent: "1",
            valuefontcolor: "#FFFFFF",
            plottooltext:
              "$label  $dataValue (<b>$percentValue</b>) $seriesName ",
            theme: "fusion"
          },
          categories: [
            {
              category: categories_data
            }
          ],
          dataset: [
            {
              seriesname: "Employee",
              data: employee_data
            },
            {
              seriesname: "Contractor",
              data: contractor_data
            }
          ]
        };
  
        FusionCharts.ready(function() {
          var myChart = new FusionCharts({
            type: "scrollstackedcolumn2d",
            renderAt: "atsvencondomhcContainer",
            width: "900",
            height: "500",
            dataFormat: "json",
            dataSource: atsvencondomhcdataSource
          }).render();
        });
  
  
  
        $( ".dropdownvenempdom" ).change(function() {
        
          var e = document.getElementById("dc");
          var selected = e.options[e.selectedIndex].value;
          data = atsvencondomhc_dataPoints.filter(x => x.monthyy == months[selected])
          employee_data = []
          contractor_data = []
          categories_data = []
          for(var i=0; i< data.length;i++){
            categories_data.push({label: data[i]["department"]})
            employee_data.push({ value: data[i]["employee"] })
            contractor_data.push({ value: data[i]["contractor"] })
          }
  
  
          const atsvencondomhcdataSource = {
          chart: {
            caption: "Domain wise Employee / Contractor",
            subcaption: "",
            numvisibleplot: "6",
            showvalues: "1",
            decimals: "1",
            xAxisName: "Domain",
            yAxisName: "Percentage",
            stack100percent: "1",
            valuefontcolor: "#FFFFFF",
            plottooltext:
              "$label  $dataValue (<b>$percentValue</b>) $seriesName ",
            theme: "fusion"
          },
          categories: [
            {
              category: categories_data
            }
          ],
          dataset: [
            {
              seriesname: "Employee",
              data: employee_data
            },
            {
              seriesname: "Contractor",
              data: contractor_data
            }
          ]
        };
  
        FusionCharts.ready(function() {
          var myChart = new FusionCharts({
            type: "scrollstackedcolumn2d",
            renderAt: "atsvencondomhcContainer",
            width: "900",
            height: "500",
            dataFormat: "json",
            dataSource: atsvencondomhcdataSource
          }).render();
        });
  
  
  
  
      });
  
  
       
          
  
     
    
  
  
  
      
      var idcschedulefinish_dataPoints = {{ idcschedulefinish_datapoints | safe}}
      response = idcschedulefinish_dataPoints
      console.log("response is",response)
      $('#example').dynatable({
        dataset: {
          records: response
        },
      });
  
  
      
  
  
  
  
      }   
    </script> 
  
  {% endblock scripts %}

